<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="JS4lLxllrxJ--QxMseg7otfgj_J38auIdWuUiySrrkA" />

    <title>ServU</title>

    <link rel="icon" type="image/png" href="../img/smallLogo.png" />
    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="../css/ionicons.css" rel="stylesheet" type="text/css">

    <!-- Personnal CSS Piti -->
    <link href="../css/persoCSS/amethystFont.css" rel="stylesheet">
    <link href="../css/persoCSS/colorOrange.css" rel="stylesheet">

    <link href="../css/persoCSS/custom.css" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"></script>
    <style>
        /*.correct {
            border-color: rgba(68, 191, 68, 0.75);
        }

        .correct:focus {
            border-color: rgba(68, 191, 68, 0.75);
            box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
        }

        .incorrect {
            border-color: rgba(191, 68, 68, 0.75);
        }

        .incorrect:focus {
            border-color: rgba(191, 68, 68, 0.75);
            box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
        }*/
    </style>

    <!-- qrcode library -->
    <script type="text/javascript" src="../js/qrcode.js"></script>



</head>

<body ng-app="root" ng-controller="gestion">

<!-- Navigation 2-->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <a href="/" onclick=$("#menu-close").click();>ServU</a>
        </li>
        <li>
            <a href="/" onclick=$("#menu-close").click();>Home</a>
        </li>
        <li>
            <a href="/logout" onclick=$("#menu-close").click();>Logout</a>
        </li>
        <li>
            <hr>
        </li>
        <li>
            <a href="#profile" onclick=$("#menu-close").click();>Profil</a>
        </li>
        <li>
            <a href="#devices" onclick=$("#menu-close").click();>Devices</a>
        </li>
        <li>
            <a href="#event" onclick=$("#menu-close").click();>Event Creator</a>
        </li>
    </ul>
</nav>

<!-- Profile -->
<section id="profile" class="profile">
    <div class="container">


        <div class="row">
            <div class="col-md-12 col-xs-12 text-center">
                <h2 class="fontAmethyst">Profile</h2>
                <hr class="small">
            </div>
        </div>
        <div class="row  gutter-10">
            <div class="col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1 gutter-10">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-md-1 col-sm-1 col-xs-2">
                                    <h1><i class="glyphicon glyphicon-user"></i></h1>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-10">
                                    <div class="pseudo_profil"><h1 class="fontAmethyst" id="pseudo"><%= username %></h1></div>
                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-12 text-vertical-center">
                                    <br>
                                    <input type="button" class="btn btn-warning text-right" id="toggler" value="Hide information" onClick="action();"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body" id="togglee">
                        <div class="row">
                            <div class="col-md-4 col-sm-10 col-xs-10">
                                <p class="lead">
                                    Pseudo : <%= username %><br>
                                    First name : <%= firstname %><br>
                                    Last name : <%= lastname %><br>
                                </p>
                            </div>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <button type="button" class="btn btn-primary center-block" onClick="modif_info();"><i class="glyphicon glyphicon-pencil"></i> Modify your names</button>
                                        <br>
                                    </div>
                                    <div class="row">
                                        <form action="/users/<%= username%>?_method=PUT" method="post" class="form-horizontal" id="modif_info" data-toggle="validator">
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-4 col-xs-10 col-md-offset-0 col-sm-offset-0 col-xs-offset-1" for="text">Change first name :</label>
                                                <div class="col-md-6 col-sm-6 col-xs-10 col-md-offset-0 col-sm-offset-0 col-xs-offset-1">
                                                    <input type="text" class="form-control" id="firstname" name="firstname" data-minlength="1" placeholder="Enter new first name" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-4 col-xs-10 col-md-offset-0 col-sm-offset-0 col-xs-offset-1" for="text">Change last name :</label>
                                                <div class="col-md-6 col-sm-6 col-xs-10 col-md-offset-0 col-sm-offset-0 col-xs-offset-1">
                                                    <input type="text" class="form-control" id="lastname" name="lastname" data-minlength="1" placeholder="Enter new last name" required>
                                                </div>
                                            </div>
                                            <div class="form-group text-center">
                                                <button type="submit" class="btn btn-primary" >Confirm</button>
                                            </div>
                                        </form>
                                    </div>
                                    <hr>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <button type="button" class="btn btn-primary center-block" onClick="modif_mdp();"><i class="glyphicon glyphicon-pencil"></i> Modify password</button>
                                        <br>
                                    </div>
                                    <div class="row">
                                        <form action="/users/<%= username%>?_method=PUT" method="post" class="form-horizontal" id="modif_mdp" data-toggle="validator">
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-4 col-xs-10 col-md-offset-0 col-sm-offset-0 col-xs-offset-1" for="text">New password :</label>
                                                <div class="col-md-6 col-sm-6 col-xs-10 col-md-offset-0 col-sm-offset-0 col-xs-offset-1">
                                                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter your new password" data-minlength="6" required>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-10 col-md-offset-0 col-sm-offset-0 col-xs-offset-1 help-block">Minimum of 6 characters</div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-4 col-xs-10 col-md-offset-0 col-sm-offset-0 col-xs-offset-1" for="pwd">Confirm password :</label>
                                                <div class="col-md-6 col-sm-6 col-xs-10 col-md-offset-0 col-sm-offset-0 col-xs-offset-1">
                                                    <input type="password" class="form-control" name="password2" id="password2" data-match="#password" data-match-error="These don't match" placeholder="Confirm password" required>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-10 col-md-offset-0 col-sm-offset-0 col-xs-offset-1 help-block with-errors"></div>
                                            </div>
                                            <div class="form-group text-center">
                                                <button type="submit" class="btn btn-primary">Confirm</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div><!— /.row —>
    </div><!-- /.container -->
</section>

<!-- Devices -->
<section id="devices" class="devices bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center">
                <div class="panel panel-primary" style="border: none">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h2 class="fontAmethyst">Devices</h2>
                                <hr class="small">
                            </div>
                        </div>
                        <div class="row gutter-10" ng-controller="devicesCtrl">
                            <div class="col-md-2 col-sm-2 col-xs-2 gutter-10 pull-left">
                                <div class='well well-sm well-warning' data-toggle='tooltip' data-placement='bottom' title='Number of phones' id='nbPhones'>
                                    {{nbPhones}}
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2 gutter-10 pull-left">
                                <div class='well well-sm well-warning' data-toggle='tooltip' data-placement='bottom' title='Number of tablets' id='nbTablets'>
                                    {{nbTablets}}
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4 gutter-10 pull-right">
                                <div class="btn-group" style="margin-top: 25%; margin-bottom: 25%">
                                    <button class="btn btn-warning" data-toggle="modal" data-target='#addModal'>
                                        <span data-toggle="tooltip" title="Add device" data-placement="top">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </span>
                                    </button>
                                    <div class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Refresh" ng-click="refreshDevices()">
                                        <i class="glyphicon glyphicon-refresh"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body"> <!-- Devices -->
                        <div id="items" ng-controller="devicesCtrl">
                            <div class="row" ng-repeat="device in devices">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="panel panel-warning panel-warning-dark">
                                        <div class='panel-heading'>
                                            <div class='row gutter-10'>
                                                <div class='col-lg-2 col-md-2 col-sm-2 col-xs-2 gutter-10'>
                                                    <h3 class='panel-title' id='deviceLogo'><i class='fa fa-{{device.platform}} fa-lg'></i></h3>
                                                </div>
                                                <div class='col-lg-8 col-md-8 col-sm-8 col-xs-8 gutter-10'>
                                                    <div id='deviceTitle' class='panel-title text-center'>{{device.name}}</div>
                                                </div>
                                                <div class='col-lg-2 col-md-2 col-sm-2 col-xs-2 gutter-10'>
                                                    <span data-toggle='tooltip' title='Delete' data-placement='top'>
                                                        <button class='btn btn-danger btn-xs' ng-click="deleteByUuid(device.uuid)">
                                                             <i class='glyphicon glyphicon-minus'></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='panel-body'>
                                            <div class='row'>
                                                <div class='col-md-2'><i class='fa fa-info'></i></div>
                                                <div class='col-md-6'>{{device.manufacturer}} {{device.model}}</div>
                                                <div class='col-md-1'><i class='glyphicon glyphicon-signal'></i></div>
                                                <div class='col-md-1'>{{device.data.connection}}</div>
                                            </div>
                                            <div class='row'>
                                                <div class='col-md-2' id='deviceCharge'><i class='ion' ng-class="{'ion-battery-charging': device.data.inCharge, 'ion-battery-full': !device.data.inCharge}"></i></div>
                                                <div class='col-md-10'>
                                                    <div class='progress'>
                                                        <div class='progress-bar'
                                                             ng-class="{'progress-bar-primary': getBarTypeClassBoolean(device.data.battery,'primary'),
                                                             'progress-bar-success': getBarTypeClassBoolean(device.data.battery,'success'),
                                                             'progress-bar-warning': getBarTypeClassBoolean(device.data.battery,'warning'),
                                                             'progress-bar-danger': getBarTypeClassBoolean(device.data.battery,'danger'),
                                                             'progress-bar-striped active': device.data.inCharge }"
                                                             role='progressbar' aria-valuenow='{{device.data.battery}}'
                                                             aria-valuemin='0' aria-valuemax='100' style='width: {{device.data.battery}}%'>
                                                            <span><b>{{device.data.battery}}</b></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='panel-footer'>
                                            <div class='row'>
                                                <div class='btn-group-in-footer btn-group btn-group-justified'>
                                                    <div class='btn-group'>
                                                        <button class='btn btn-warning' data-toggle='modal' data-target='#moreModal' ng-click="openMoreModal(device.uuid)">
                                                            <i class='glyphicon glyphicon-plus-sign'></i>
                                                            <span class='text-center'>  Show more  </span>
                                                            <span class='clearfix'></span>
                                                        </button>
                                                    </div>
                                                    <div class='btn-group dropdown'>
                                                        <button type='button' class='btn btn-warning dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                                                            <i class='glyphicon glyphicon-th-large'></i>
                                                            <span class='text-center'>  Quick actions  </span>
                                                            <span class='caret'></span>
                                                            <span class='clearfix'></span>
                                                        </button>
                                                        <ul class='dropdown-menu'>
                                                            <li ng-repeat="(action,availability) in device.data.availableActions" ng-show="availability">
                                                                <a>
                                                                    <div class='pull-left' style="text-transform: capitalize;">{{action}}</div>

                                                                    <span class='clearfix'></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./row ./devices -->
                    </div>
                    <!-- ./panel-body -->
                </div>
                <!-- ./Main panel -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Event Skeleton -->
<section id="event" class="about bg-warning" ng-controller = 'EventSkeletonCtrl'>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <h2 class="fontAmethyst text-white">Event Skeletons</h2>
                <hr class="small">
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-primary" ng-click="updateListEvent()" ng-init="updateListEvent()"><i class="fa fa-refresh"></i> Update List</button>
                    <button type="button" class="btn btn-dark" ng-click="open('lg')"><i class="fa fa-plus"></i> Add</button>
                </div>
                <hr class="small">
            </div>
        </div>
        <div class="row gutter-10" >
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gutter-10">
                <div class="alertPlaceEventSkeleton"></div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div ng-repeat="eventSkeleton in eventSkeletons">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row gutter-10">
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 gutter-10">
                                            <h3 class="fontCounter" style="color: #FC6E51;">{{eventSkeleton.label}}</h3>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 gutter-10 hidden-xs">
                                            <div class="btn-group pull-right" role="group" aria-label="...">
                                                <a role="button" class="btn btn-dark" data-toggle="collapse" data-target="#{{eventSkeleton.id}}"><i class="fa fa-info"></i></a>
                                                <a role="button" class="btn btn-warning" ng-click="deleteEventSkeleton(eventSkeleton)"><i class="fa fa-times"></i></a>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 gutter-10 visible-xs-block">
                                            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                                <a role="button" class="btn btn-dark" data-toggle="collapse" data-target="#{{eventSkeleton.id}}"><i class="fa fa-info"></i></a>
                                                <a role="button" class="btn btn-warning" ng-click="deleteEventSkeleton(eventSkeleton)"><i class="fa fa-times"></i></a>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="panel-body collapse" id="{{eventSkeleton.id}}" >
                                    <div class="row gutter-10">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gutter-10">
                                            <p class="list-group-item-text">{{eventSkeleton.description}}</p>
                                            <hr class="reduce">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 gutter-10">
                                            <h3 class="list-group-item-text text-aqua fontCounter">IF</h3>
                                            <div ng-if=checkIsLocalisation(eventSkeleton)>
                                                <span class="label label-primary"><i class="fa" ng-class="getTypeProbe(eventSkeleton.if[0].probe)"></i> {{getLabelProbe(eventSkeleton.if[0].probe)}}</span>
                                                <span class="label label-warning">{{eventSkeleton.if[0].comparator == ">" ? "Inside" : "Outside"}}</span>
                                                <a role="button" class="btn btn-dark btn-xs" ng-click=giveMap(eventSkeleton)>Load Map</a>
                                                <div id="map{{eventSkeleton.id}}" style="width : 100%; height:200px"></div>

                                            </div>
                                            <div ng-if=!checkIsLocalisation(eventSkeleton)>
                                                <div ng-repeat="ifCondition in eventSkeleton.if">
                                                    <h4><span class="label label-default">{{ifCondition.logicOperator}}</span></h4>
                                                    <h4>
                                                        <span class="label label-primary"><i class="fa" ng-class="getTypeProbe(ifCondition.probe)"></i> {{getLabelProbe(ifCondition.probe)}}</span>
                                                        <span class="label label-warning">{{ifCondition.comparator}}</span>
                                                        <span class="label label-primary">{{ifCondition.value}}</span>
                                                    </h4>
                                                </div>
                                            </div>

                                            <hr class="reduce">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 gutter-10">
                                            <h4 class="list-group-item-text text-grapefruit fontCounter">THEN</h4>
                                            <div ng-repeat="thenAction in eventSkeleton.action">
                                                <h4>
                                                    <span class="label label-danger"><i class="fa" ng-class="getTypeAction(thenAction.type)"></i> {{getLabelAction(thenAction.type)}}</span>
                                                    <span class="label label-primary">{{findParameter(thenAction.parameter, thenAction.type)}}</span>
                                                </h4>
                                                <p>{{giveMessage(thenAction.parameter, thenAction.type)}}</p>
                                            </div>
                                            <hr class="reduce">
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Delete modal -->
<section>
    <div class='modal fade' id='deleteModal' tabindex='-1' role='dialog' aria-labelledby='deleteModalLabel'>
        <div class='modal-dialog' role='document'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                    <h5 class='modal-title'>Confirm delete</h5>
                </div>
                <div class='modal-body'>
                    <p>Are you sure you want to delete this device ?</p>
                    <p id="deleteModalText"></p>
                </div>
                <div class='modal-footer' id="deleteModalFooter"></div>
            </div>
        </div>
    </div>
</section>

<!-- Add modal -->
<section>
    <div class='modal fade' id='addModal' tabindex='-1' role='dialog' aria-labelledby='addModalLabel'>
        <div class='modal-dialog' role='document'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                    <h5 class='modal-title'>Add new device</h5>
                </div>
                <div class='modal-body'>
                    <div class="row">
                        <div class="col-md-6">
                            <div id="code"></div>
                            <script type="text/javascript">
                                new QRCode(document.getElementById("code"), "http://www.servu.ml");
                            </script>
                        </div>
                        <div class="col-md-6">
                            <p>Flash this code with your device to download the app for ANDROID</p>
                            <p class="text-muted"><i>Sorry iOS users, the app is not available for iOS devices yet</i></p>
                        </div>
                    </div>
                </div>
                <div class='modal-footer' id="addModalFooter">
                    <div class="row">
                        <div class="col-md-3 pull-left">
                            <img src="../img/soon-play.PNG" class="store">
                        </div>
                        <div class="col-md-3 pull-left">
                            <img src="../img/soon-app.PNG" class="store">
                        </div>
                    </div>
                    <button type='button' class='btn btn-secondary' data-dismiss='modal'>Cancel</button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- More modal
<section ng-controller="devicesCtrl">
    <div class='modal fade' id='moreModal' tabindex='-1' role='dialog' aria-labelledby='moreModalLabel'>
        <div class='modal-dialog' role='document'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                </div>
                <div class='modal-body' id="moreModalBody">
                    Coucou {{moreDevice.name}}
                </div>
                <div class='modal-footer' id="addModalFooter">
                    <button type='button' class='btn btn-secondary' data-dismiss='modal'>Cancel</button>
                </div>
            </div>
        </div>
    </div>
</section>-->

<!-- Choose event modal -->
<section>
    <div class='modal fade' id='chooseEventModal' tabindex='-1' role='dialog' aria-labelledby='chooseEventModalLabel'>
        <div class='modal-dialog' role='document'>
            <div class='modal-content'>
                <div class='modal-header' id="chooseEventModalHeader">
                    Available events
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                </div>
                <div class='modal-body' id="chooseEventModalBody">

                </div>
                <div class='modal-footer' id="chooseEventModalFooter">
                    <button class="btn btn-warning" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Action modal -->
<section>
    <div class='modal fade' id='actionModal' tabindex='-1' role='dialog' aria-labelledby='actionModalLabel'>
        <div class='modal-dialog' role='document'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <h5 class="modal-title">Action sending confirmation</h5>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                </div>
                <div class='modal-body' id="actionModalBody">

                </div>
                <div class='modal-footer' id="actionModalFooter">

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h3 class="fontAmethyst"><strong>Serv U</strong></h3>
                <hr class="small">
                <p>1 Dr Albert Schweitzer Av.
                    <br>Talence, France 33400</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
                    <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:ServU@gmail.com">ServU@gmail.com</a></li>
                </ul>
                <br>
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small">
                <p class="text-muted">Copyright &copy; ServU Team 8 2017</p>
            </div>
        </div>
    </div>
    <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>
<!-- JAJAJ-->


<!-- jQuery -->
<script src="../js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->

<script src="http://maps.google.com/maps/api/js?key=AIzaSyCDnP1bkcDq7KKvVBZfss5B1EfM99T7Bvc"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

<script src="../js/persoJS/controller.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/persoJS/devicesController.js"></script>
<script src="../js/persoJS/templates.js"></script>
<script src="../js/persoJS/formulaire.js"></script>
<script src="../js/bootstrap-notify.js"></script>

<script src="../js/persoJS/controllers.js"></script>

<script src="../js/persoJS/controllerEventSkeleton.js"></script>
<script src="../js/persoJS/services.js"></script>

<!-- Validation JQuery Form -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<!--<script src="../js/bootstrap.min.js"></script>-->

<!-- Theme Bootstrap -->
<script type="text/javascript" src="../js/persoJS/themeBootstrap.js" ></script>

<!-- Personnal Script PITI -->
<script type="text/javascript" src="../js/persoJS/controlConnection.js" ></script>
<script src="../js/persoJS/ui-bootstrap-tpls-2.5.0.min.js"></script>


<script>document.title = '<%= username%> - ' + document.title;</script>
<script>var username = '<%= username %>'</script>
<script>
    document.title = '<%= username%> - ' + document.title;
    setCookie('token','<%= token%>',7);
    setCookie('username','<%= username%>',7);
    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
</script>

</body>

</html>
